<!DOCTYPE html>
<html>
  <head>
    <title>ECommercesystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  </head>

  <body>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div id="app" data-signed-in="<%= user_signed_in? %>" data-user-type="<%= current_user.user_type if user_signed_in? %>" data-signed-in-username="<%= current_user.name %>"></div>
      <%= yield %>
  </body>
</html>
